In [2]:
import pandas as pd

In [7]:
chipo = pd.read_csv(r"C:\Users\Laura\Documents\Kelly\portfolio\week5\chipotle.tsv",sep='\t')

In [8]:
first_10_rows = chipo.head(10)

In [9]:
total_entries = chipo.shape[0]

In [11]:
total_columns = chipo.shape[1]

In [12]:
column_names = chipo.columns

In [13]:
index_info = chipo.index

In [14]:
most_ordered_item = chipo['item_name'].value_counts().idxmax()

In [15]:
total_items_ordered = chipo['quantity'].sum()

In [16]:
most_ordered_choice = chipo['choice_description'].value_counts().idxmax()

In [17]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$', '')))

In [18]:
total_revenue = chipo['item_price'].sum()

In [19]:
total_orders = chipo['order_id'].nunique()

In [20]:
average_order_value = total_revenue / total_orders

In [21]:
unique_items_sold = chipo['item_name'].nunique()

In [22]:
products_above_10 = chipo[chipo['item_price'] > 10].shape[0]
products_above_10

1130

EXERCICE 3

In [29]:
file_path = r"C:\Users\Laura\Documents\Kelly\portfolio\week5\u.user"
users = pd.read_csv(file_path, sep='|')
mean_age_per_occupation = users.groupby('occupation')['age'].mean()
mean_age_per_occupation

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [30]:
data1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David']
})

In [31]:
data2 = pd.DataFrame({
    'ID': [5, 6, 7, 8],
    'Name': ['Eva', 'Frank', 'Grace', 'Helen']
})

In [32]:
data3 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Score': [90, 85, 88, 92]
})

In [33]:
all_data = pd.concat([data1, data2])

In [34]:
all_data_col = pd.concat([data1, data2], axis=1)

all_data, all_data_col

(   ID     Name
 0   1    Alice
 1   2      Bob
 2   3  Charlie
 3   4    David
 0   5      Eva
 1   6    Frank
 2   7    Grace
 3   8    Helen,
    ID     Name  ID   Name
 0   1    Alice   5    Eva
 1   2      Bob   6  Frank
 2   3  Charlie   7  Grace
 3   4    David   8  Helen)

  EX 5

In [42]:
import pandas as pd

file_path = r" C:\Users\Laura\Documents\Kelly\portfolio\week5\iris.data"

In [36]:
data = {
    'sepal_length': [5.1, 4.9, 4.7, 4.6, 5.0],
    'sepal_width': [3.5, 3.0, 3.2, 3.1, 3.6],
    'petal_length': [1.4, 1.4, 1.3, 1.5, 1.4],
    'petal_width': [0.2, 0.2, 0.2, 0.2, 0.2],
    'species': ['setosa', 'setosa', 'setosa', 'setosa', 'setosa']
}

In [37]:
iris = pd.DataFrame(data)

In [38]:
iris.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

In [39]:
missing_values = iris.isnull().sum()

EX 6

In [51]:
import pandas as pd

pokemon_data = {
    'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'hp': [45, 39, 44, 45],
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex': ['yes', 'no', 'yes', 'no'],
    'type': ['grass', 'fire', 'water', 'bug']
}

pokemon = pd.DataFrame(pokemon_data)

pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no